<% provide(:title, "About") %>

<div class = "container">
  <div class ="row">
    <div class = "col">
        <h1>About</h1>
    </div>
   </div>
   <div class ="row">
    <div class = "col">
        <p>このアプリは実は試作二号機です。</p>
    </div>
   </div>
</div>
  
  
 