<% provide(:title, "Home") %>
<div class="center jumbotron">
　<div style="line-height: 1em;">
    <h1>ようこそ New App01 へ!</h1>
    <div class = "container">
     <h2>アプリの説明</h2>
     　<ul class = "container-list">
         <li>こんな機能があります。</li>
         <li>こんな機能もあります。</li>
     　</ul>
     　 <p class = "container-bottom">
        <%= link_to "登録して始めよう!", signup_path, class: "btn btn-primary btn-lg  active" %>
        </p>
    </div>
  </div>
</div>

