/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";

$lantern-light-white: #f5f5f6;
$lantern-dark-white: #cdced1;
$lantern-black: #050c17;
$lantern-red: #b1046b;
$lantern-violet: #640c41;
$lantern-yellow: #bdb319;
$lantern-blue: #0071bc;
$lantern-dark-blue: #0c2e64;

body {
  background-color: $lantern-light-white;
}


// footer{
//   width: 100%;
//   background-color: #89c7de;
//   color: #fff;
//   text-align: center;
//   padding: 30px 0;
    
//   position: absolute;/*←絶対位置*/
//   bottom: 0; /*下に固定*/
// }


.navbar-extend {
  margin-bottom: 0;
  background-color: $lantern-black;
  opacity: 0.9;
  ul li a button {
    padding: 0.375rem 1.5rem;
  }
}

.logo-img:hover {
  opacity: 0.6;
}

.logo-text {
  padding-top: 2px;
  :hover {
    opacity: 0.6;
  }
}

// jumbotron

// .jumbotron-extend {
//   background-image: url(<%= asset_path "shinkai_01.jpg" %>);
//   background-size: cover;
//   background-repeat: no-repeat;
//   .container {
//     margin-top: 6rem;
//     h1,
//     p {
//       margin-bottom: 0.75rem;
//       color: $lantern-light-white;
//     }
//     h1 {
//       margin-bottom: 1.5rem;
//     }
//     p:last-of-type {
//       margin-bottom: 2rem;
//     }
//   }
// }

// discription

.discription-container h2, .discription-container p {
  color: $lantern-light-white;
}

.discription-container {
  margin: 3rem 0;
  padding: 3rem 1rem;
  h2 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1.8rem;
  }
  p {
    font-size: 1rem;
    line-height: 2.1rem;
  }
}

.discription-img-container {
  margin-bottom: 3rem;
  text-align: center;
}

.discription-img {
  width: 12rem;
  border-radius: 0.1rem;
}


//signup
.signup-container {
  width: 100%;
  max-width: 330px;
  margin: auto;
  padding-top: 1rem !important;
}

.signup-logo-img {
  text-align: center;
}

.signup-title {
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.form-control {
  margin-bottom: 0;
}

.form-submit {
  width: 100%;
  margin-top: 1rem;
}

/*#error_explanation {*/
/*  color: red;*/
/*  ul{*/
/*    color: red;*/
/*    padding-bottom: 0;*/
/*  }*/
/*}*/


.field_with_errors .form-control {
  border-color: red;
}

.alert-form-extend {
  margin: 1.5rem 0 1rem;
}
 
 
// max-width = 767px
@media (max-width: 767px) {
  .nav{
    font-size: 1rem;
    line-height: 1;
  }
  
  .nav-item-extend {
    margin-top: 0.6rem;
  }
　
//_log.html.erb
  .log-title {
    padding: 0;
  }
  
//_log.html.erb
  .log-list {
    border-left: 1px solid $lantern-dark-white;
  }
  
  
}

@media (min-width: 768px) {
  .nav{
    font-size:　1.5rem;
  }
  
  .log-timestamp-inline {
    visibility: hidden;
  }
}


// logs
ol {
  padding: 0;
  list-style: none;
}

.log-title {
  margin: 1.5rem 0;
  text-align: center;
}

.log-list {
  margin-bottom: 1rem;

  .log-timestamp {
    color: gray;
  }

  .log-timestamp-block {
    text-align: center;
    padding-bottom: 2rem;
    margin-top: 0.1rem;
    // border-right: 1px solid $lantern-dark-white;
  }

  .col-log-memos {
    padding: 0 1rem 0 1rem;

    .log-time-and-edit {
      .log-time {
        font-size: 1.2rem;
        // color: $lantern-yellow;
      }

      .log-timestamp-inline {
        text-align: right;    
        margin-top: 0.1rem;
        padding: 0;
      }

      .log-edit {
        text-align: right;
        margin-top: 0.1rem;

        .log-edit-image {
          width: 1rem;
        }
      }
    }

    .log-memo {
    }

    .log-picture {
    }
  }
}

// paginate
.pagination {
  margin-top: 1.6rem;

  .page-item {
    .page-link {
      border: 1px solid ;
      background-color: white;
      color: blue;
    }
  }

  .page-item.active .page-link {
     background-color: blue;
     border-color: blue;
     color: white;
  }
} 
